USE [master]
GO
/****** Object:  Database [MotoRideDB]    Script Date: 04/09/2025 10:37:05 ******/
CREATE DATABASE [MotoRideDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MotoRideDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MotoRideDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MotoRideDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MotoRideDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MotoRideDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MotoRideDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 04/09/2025 10:37:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 04/09/2025 10:37:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[TotalPrice] [real] NULL,
	[IsAcceptableUserBooking] [bit] NULL,
	[IsAcceptableMaintaince] [bit] NULL,
	[Date] [datetime2](7) NULL,
	[CustomerNote] [nvarchar](max) NULL,
	[CustomerId] [int] NULL,
	[MaintenanceId] [int] NULL,
	[StatusBookingMaintenance] [nvarchar](max) NULL,
	[MaintenanceNote] [nvarchar](max) NULL,
	[Location] [nvarchar](max) NULL,
	[BikeType] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
	[NotificationBookingMaintenanceId] [int] NULL,
 CONSTRAINT [PK_Bookings] PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 04/09/2025 10:37:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[CartItemId] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NULL,
	[ProductId] [int] NULL,
	[MotorcycleId] [int] NULL,
	[CartId] [int] NULL,
	[Color] [nvarchar](max) NULL,
	[Size] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_CartItems] PRIMARY KEY CLUSTERED 
(
	[CartItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 04/09/2025 10:37:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[CartId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Carts] PRIMARY KEY CLUSTERED 
(
	[CartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryMaintenanceMaintenance]    Script Date: 04/09/2025 10:37:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryMaintenanceMaintenance](
	[CategoriesCategoryMaintenanceId] [int] NOT NULL,
	[MaintenanceId] [int] NOT NULL,
 CONSTRAINT [PK_CategoryMaintenanceMaintenance] PRIMARY KEY CLUSTERED 
(
	[CategoriesCategoryMaintenanceId] ASC,
	[MaintenanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryMaintenances]    Script Date: 04/09/2025 10:37:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryMaintenances](
	[CategoryMaintenanceId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_CategoryMaintenances] PRIMARY KEY CLUSTERED 
(
	[CategoryMaintenanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryProducts]    Script Date: 04/09/2025 10:37:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryProducts](
	[CategoryProductId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[StoreId] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_CategoryProducts] PRIMARY KEY CLUSTERED 
(
	[CategoryProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 04/09/2025 10:37:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Location] [nvarchar](max) NULL,
	[BirthDay] [datetime2](7) NULL,
	[Points] [int] NOT NULL,
	[Level] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
	[Token] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 04/09/2025 10:37:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[startRouts] [nvarchar](max) NULL,
	[EndRouts] [nvarchar](max) NULL,
	[Time] [datetime2](7) NULL,
	[Duration] [int] NULL,
	[MaxParticipaion] [int] NULL,
	[price] [real] NULL,
	[IsApproved] [bit] NULL,
	[CreatAt] [datetime2](7) NULL,
	[SendToGoverment] [bit] NULL,
	[EventType] [nvarchar](max) NULL,
	[HaveTrollyProvider] [bit] NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maintenances]    Script Date: 04/09/2025 10:37:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maintenances](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaintenanceName] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Iamgelicense] [nvarchar](max) NULL,
	[Location] [nvarchar](max) NULL,
	[Token] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
	[IsCanLogin] [bit] NULL,
	[Description] [nvarchar](max) NULL,
	[WorkHoursId] [int] NULL,
 CONSTRAINT [PK_Maintenances] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Motorcycles]    Script Date: 04/09/2025 10:37:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Motorcycles](
	[MotorcycleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Colors] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[EngineType] [nvarchar](max) NULL,
	[Year] [int] NULL,
	[Mileage] [decimal](18, 2) NULL,
	[Condition] [nvarchar](max) NULL,
	[StockQuantity] [int] NULL,
	[Images] [nvarchar](max) NULL,
	[Brand] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
	[StoreId] [int] NOT NULL,
	[RemainingQuantity] [int] NULL,
 CONSTRAINT [PK_Motorcycles] PRIMARY KEY CLUSTERED 
(
	[MotorcycleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationBookingMaintenances]    Script Date: 04/09/2025 10:37:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationBookingMaintenances](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaintenanceId] [int] NULL,
	[BookingId] [int] NULL,
	[MaintenanceNote] [nvarchar](max) NULL,
	[Price] [float] NULL,
	[CreateAt] [datetime2](7) NOT NULL,
	[IsActive] [bit] NULL,
	[AcceptCustomer] [bit] NULL,
	[AcceptMaintenance] [bit] NULL,
	[CustomerId] [int] NULL,
	[Isfavourite] [bit] NULL,
 CONSTRAINT [PK_NotificationBookingMaintenances] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 04/09/2025 10:37:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NULL,
	[MotorcycleId] [int] NULL,
	[StoreId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Color] [nvarchar](max) NULL,
	[Size] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[StatusCompleteOrder] [bit] NULL,
	[StatusDelivery] [bit] NULL,
 CONSTRAINT [PK_OrderItems] PRIMARY KEY CLUSTERED 
(
	[OrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 04/09/2025 10:37:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[TotalPrice] [real] NULL,
	[Date] [datetime2](7) NULL,
	[Fee] [real] NULL,
	[CustomerNote] [nvarchar](max) NULL,
	[RecivingDate] [datetime2](7) NULL,
	[CustomerId] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
	[StoreId] [int] NULL,
	[PaymentmethodId] [int] NULL,
	[StatusPayment] [nvarchar](max) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paymentmethod]    Script Date: 04/09/2025 10:37:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paymentmethod](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CardNumber] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NULL,
	[CardHolder] [nvarchar](max) NULL,
	[ExpireDate] [datetime2](7) NULL,
	[Balance] [real] NULL,
	[Method] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Paymentmethod] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 04/09/2025 10:37:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Sizes] [nvarchar](max) NULL,
	[Colors] [nvarchar](max) NULL,
	[Images] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
	[StoreId] [int] NULL,
	[CategoryProductId] [int] NULL,
	[RemainingQuantity] [int] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReviewMaintenances]    Script Date: 04/09/2025 10:37:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewMaintenances](
	[ReviewMaintenanceId] [int] IDENTITY(1,1) NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[MaintenanceNeedDeletedReview] [bit] NULL,
	[MaintenanceReason] [nvarchar](max) NULL,
	[AdminNeedDeletedReview] [bit] NULL,
	[MaintenanceId] [int] NULL,
	[Rating] [int] NULL,
	[CustomerId] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_ReviewMaintenances] PRIMARY KEY CLUSTERED 
(
	[ReviewMaintenanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 04/09/2025 10:37:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewId] [int] IDENTITY(1,1) NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[Rating] [int] NULL,
	[CustomerId] [int] NULL,
	[ProductId] [int] NULL,
	[MotorcycleId] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
	[StoreId] [int] NULL,
	[StoreNeedDeletedReview] [bit] NULL,
	[StoreReason] [nvarchar](max) NULL,
	[AdminNeedDeletedReview] [bit] NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stores]    Script Date: 04/09/2025 10:37:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stores](
	[StoreId] [int] IDENTITY(1,1) NOT NULL,
	[StoreName] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Iamgelicense] [nvarchar](max) NULL,
	[Location] [nvarchar](max) NULL,
	[Token] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
	[IsCanLogin] [bit] NULL,
 CONSTRAINT [PK_Stores] PRIMARY KEY CLUSTERED 
(
	[StoreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 04/09/2025 10:37:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EventId] [int] NULL,
	[UserId] [int] NULL,
	[NumberOfGuest] [int] NULL,
	[CreateAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Tickets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 04/09/2025 10:37:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UserType] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[Token] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WishLists]    Script Date: 04/09/2025 10:37:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WishLists](
	[WishListId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
	[MotorcycleId] [int] NULL,
	[ProductId] [int] NULL,
 CONSTRAINT [PK_WishLists] PRIMARY KEY CLUSTERED 
(
	[WishListId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkHours]    Script Date: 04/09/2025 10:37:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkHours](
	[WorkHoursId] [int] IDENTITY(1,1) NOT NULL,
	[StartFriday] [nvarchar](max) NULL,
	[StartThursday] [nvarchar](max) NULL,
	[StartSunday] [nvarchar](max) NULL,
	[StartWednesday] [nvarchar](max) NULL,
	[StartTuesday] [nvarchar](max) NULL,
	[StartSaturday] [nvarchar](max) NULL,
	[StartMonday] [nvarchar](max) NULL,
	[EndFriday] [nvarchar](max) NULL,
	[EndMonday] [nvarchar](max) NULL,
	[EndSaturday] [nvarchar](max) NULL,
	[EndSunday] [nvarchar](max) NULL,
	[EndThursday] [nvarchar](max) NULL,
	[EndTuesday] [nvarchar](max) NULL,
	[EndWednesday] [nvarchar](max) NULL,
	[MaintanenceId] [int] NULL,
 CONSTRAINT [PK_WorkHours] PRIMARY KEY CLUSTERED 
(
	[WorkHoursId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250311133231_step1', N'7.0.20')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250312224615_updateSameAttributes', N'7.0.20')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250312225113_removeSubCategoeryAttributs', N'7.0.20')
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([BookingId], [Title], [TotalPrice], [IsAcceptableUserBooking], [IsAcceptableMaintaince], [Date], [CustomerNote], [CustomerId], [MaintenanceId], [StatusBookingMaintenance], [MaintenanceNote], [Location], [BikeType], [ImageUrl], [CreatedAt], [IsActive], [NotificationBookingMaintenanceId]) VALUES (3, N'Rahma adel', NULL, NULL, NULL, CAST(N'2025-05-26T00:00:00.0000000' AS DateTime2), N'i want to make change for my motor wheels', 5, NULL, N'none', NULL, N'Amman', N'suzuki', NULL, CAST(N'2025-05-23T14:34:00.0041450' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[CartItems] ON 

INSERT [dbo].[CartItems] ([CartItemId], [Quantity], [ProductId], [MotorcycleId], [CartId], [Color], [Size], [CreatedAt], [IsActive]) VALUES (1, 1, NULL, 2, 1, N'rgb(0, 0, 0)', NULL, CAST(N'2025-05-23T12:41:52.1268496' AS DateTime2), 0)
INSERT [dbo].[CartItems] ([CartItemId], [Quantity], [ProductId], [MotorcycleId], [CartId], [Color], [Size], [CreatedAt], [IsActive]) VALUES (2, 1, NULL, 1, 2, N'rgb(255, 0, 0)', NULL, CAST(N'2025-05-23T17:55:27.9678703' AS DateTime2), 0)
INSERT [dbo].[CartItems] ([CartItemId], [Quantity], [ProductId], [MotorcycleId], [CartId], [Color], [Size], [CreatedAt], [IsActive]) VALUES (3, 1, NULL, 1, 2, N'rgb(255, 0, 0)', NULL, CAST(N'2025-05-24T00:04:53.0345580' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[CartItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Carts] ON 

INSERT [dbo].[Carts] ([CartId], [CustomerId], [CreatedAt], [IsActive]) VALUES (1, 2, CAST(N'2025-05-23T09:41:52.0112102' AS DateTime2), NULL)
INSERT [dbo].[Carts] ([CartId], [CustomerId], [CreatedAt], [IsActive]) VALUES (2, 1, CAST(N'2025-05-23T14:55:27.5959308' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Carts] OFF
GO
INSERT [dbo].[CategoryMaintenanceMaintenance] ([CategoriesCategoryMaintenanceId], [MaintenanceId]) VALUES (1, 1)
INSERT [dbo].[CategoryMaintenanceMaintenance] ([CategoriesCategoryMaintenanceId], [MaintenanceId]) VALUES (2, 1)
INSERT [dbo].[CategoryMaintenanceMaintenance] ([CategoriesCategoryMaintenanceId], [MaintenanceId]) VALUES (3, 1)
GO
SET IDENTITY_INSERT [dbo].[CategoryMaintenances] ON 

INSERT [dbo].[CategoryMaintenances] ([CategoryMaintenanceId], [Name], [CreatedAt], [IsActive]) VALUES (1, N'oil change', CAST(N'2025-05-23T16:47:07.7218178' AS DateTime2), NULL)
INSERT [dbo].[CategoryMaintenances] ([CategoryMaintenanceId], [Name], [CreatedAt], [IsActive]) VALUES (2, N'Brake service &repair', CAST(N'2025-05-23T16:50:06.2779717' AS DateTime2), NULL)
INSERT [dbo].[CategoryMaintenances] ([CategoryMaintenanceId], [Name], [CreatedAt], [IsActive]) VALUES (3, N'wheel alignment', CAST(N'2025-05-23T16:50:46.6664416' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[CategoryMaintenances] OFF
GO
SET IDENTITY_INSERT [dbo].[CategoryProducts] ON 

INSERT [dbo].[CategoryProducts] ([CategoryProductId], [Name], [StoreId], [CreatedAt], [IsActive]) VALUES (1, N'helmet', 1, CAST(N'2025-05-22T21:25:06.8265124' AS DateTime2), NULL)
INSERT [dbo].[CategoryProducts] ([CategoryProductId], [Name], [StoreId], [CreatedAt], [IsActive]) VALUES (2, N'Gloves', 1, CAST(N'2025-05-22T21:33:08.3698619' AS DateTime2), NULL)
INSERT [dbo].[CategoryProducts] ([CategoryProductId], [Name], [StoreId], [CreatedAt], [IsActive]) VALUES (3, N'helemt', 2, CAST(N'2025-05-23T18:19:47.8019639' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[CategoryProducts] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Events] ON 

SET IDENTITY_INSERT [dbo].[Events] OFF
GO
SET IDENTITY_INSERT [dbo].[Maintenances] ON 

SET IDENTITY_INSERT [dbo].[Maintenances] OFF
GO
SET IDENTITY_INSERT [dbo].[Motorcycles] ON 

SET IDENTITY_INSERT [dbo].[Motorcycles] OFF
GO
SET IDENTITY_INSERT [dbo].[NotificationBookingMaintenances] ON 

INSERT [dbo].[NotificationBookingMaintenances] ([Id], [MaintenanceId], [BookingId], [MaintenanceNote], [Price], [CreateAt], [IsActive], [AcceptCustomer], [AcceptMaintenance], [CustomerId], [Isfavourite]) VALUES (1, 1, 1, N'', 20, CAST(N'2025-05-23T17:44:55.5827375' AS DateTime2), NULL, 1, 1, 3, NULL)
INSERT [dbo].[NotificationBookingMaintenances] ([Id], [MaintenanceId], [BookingId], [MaintenanceNote], [Price], [CreateAt], [IsActive], [AcceptCustomer], [AcceptMaintenance], [CustomerId], [Isfavourite]) VALUES (2, 1, 2, N'i could take two days to checkup all you want in motor', 40, CAST(N'2025-05-23T17:47:05.9346134' AS DateTime2), NULL, NULL, 1, 4, NULL)
INSERT [dbo].[NotificationBookingMaintenances] ([Id], [MaintenanceId], [BookingId], [MaintenanceNote], [Price], [CreateAt], [IsActive], [AcceptCustomer], [AcceptMaintenance], [CustomerId], [Isfavourite]) VALUES (3, 1, 4, N'After 2 am come
', 50, CAST(N'2025-05-23T21:33:49.0104543' AS DateTime2), NULL, 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[NotificationBookingMaintenances] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([OrderItemId], [OrderId], [ProductId], [MotorcycleId], [StoreId], [Quantity], [Price], [Color], [Size], [CreatedAt], [Image], [Name], [StatusCompleteOrder], [StatusDelivery]) VALUES (1, 1, NULL, 2, 1, 1, CAST(5000.00 AS Decimal(18, 2)), N'rgb(0, 0, 0)', NULL, CAST(N'2025-05-23T12:43:39.3594449' AS DateTime2), N'/Images/f77f104b-8033-46a3-b780-4c45dc69bf17.jpg', N'KTM 125 Duke', NULL, 1)
INSERT [dbo].[OrderItems] ([OrderItemId], [OrderId], [ProductId], [MotorcycleId], [StoreId], [Quantity], [Price], [Color], [Size], [CreatedAt], [Image], [Name], [StatusCompleteOrder], [StatusDelivery]) VALUES (2, 2, NULL, 1, 1, 1, CAST(13000.00 AS Decimal(18, 2)), N'rgb(255, 0, 0)', NULL, CAST(N'2025-05-23T17:56:59.6955492' AS DateTime2), N'/Images/b5838ad7-f4f1-4332-b6f0-bf3d29c3746e.jpg', N'BMW K1300 S', NULL, 1)
INSERT [dbo].[OrderItems] ([OrderItemId], [OrderId], [ProductId], [MotorcycleId], [StoreId], [Quantity], [Price], [Color], [Size], [CreatedAt], [Image], [Name], [StatusCompleteOrder], [StatusDelivery]) VALUES (3, 3, NULL, 1, 1, 1, CAST(13000.00 AS Decimal(18, 2)), N'rgb(255, 0, 0)', NULL, CAST(N'2025-05-24T00:05:41.3722130' AS DateTime2), N'/Images/b5838ad7-f4f1-4332-b6f0-bf3d29c3746e.jpg', N'BMW K1300 S', NULL, 1)
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderId], [Title], [TotalPrice], [Date], [Fee], [CustomerNote], [RecivingDate], [CustomerId], [CreatedAt], [IsActive], [StoreId], [PaymentmethodId], [StatusPayment]) VALUES (1, N'rahma', 5000, NULL, NULL, N'please call me after 6pm', CAST(N'2025-05-31T00:00:00.0000000' AS DateTime2), 2, CAST(N'2025-05-23T09:43:39.1959670' AS DateTime2), 1, NULL, NULL, N'Visa')
INSERT [dbo].[Orders] ([OrderId], [Title], [TotalPrice], [Date], [Fee], [CustomerNote], [RecivingDate], [CustomerId], [CreatedAt], [IsActive], [StoreId], [PaymentmethodId], [StatusPayment]) VALUES (2, N'rawan', 13000, NULL, NULL, N'please i need to received after 6 pm ', CAST(N'2025-05-30T00:00:00.0000000' AS DateTime2), 1, CAST(N'2025-05-23T14:56:59.6072874' AS DateTime2), 1, NULL, NULL, N'RuPay')
INSERT [dbo].[Orders] ([OrderId], [Title], [TotalPrice], [Date], [Fee], [CustomerNote], [RecivingDate], [CustomerId], [CreatedAt], [IsActive], [StoreId], [PaymentmethodId], [StatusPayment]) VALUES (3, N'rania', 13000, NULL, NULL, N'', CAST(N'2026-01-30T00:00:00.0000000' AS DateTime2), 1, CAST(N'2025-05-23T21:05:40.7533411' AS DateTime2), 1, NULL, NULL, N'Cash')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [Name], [Description], [Sizes], [Colors], [Images], [Price], [Quantity], [CreatedAt], [IsActive], [StoreId], [CategoryProductId], [RemainingQuantity]) VALUES (1, N'Helmet Tropical Rider', N'Full-face helmet with tropical floral design, lightweight and ventilated.', N',,M,L,XL', N'#000000,#ff0000,#137e0c,#ff9500,#022aed', N'/Images/974e806d-65de-4cc8-9eb1-a09b10789f3a.jpg', CAST(150.00 AS Decimal(18, 2)), 20, CAST(N'2025-05-23T00:00:00.0000000' AS DateTime2), 1, 1, 1, 20)
INSERT [dbo].[Products] ([ProductId], [Name], [Description], [Sizes], [Colors], [Images], [Price], [Quantity], [CreatedAt], [IsActive], [StoreId], [CategoryProductId], [RemainingQuantity]) VALUES (2, N'Helmet Desert Storm', N'Off-road helmet with black, white, and orange graphic design, includes tinted goggles.', N's', N'#000000,#e60000,#000000', N'/Images/c39f4bb2-403f-42d9-b4c3-ce4252edc169.jpg', CAST(180.00 AS Decimal(18, 2)), 15, CAST(N'2025-05-23T00:00:00.0000000' AS DateTime2), 1, 1, 1, 15)
INSERT [dbo].[Products] ([ProductId], [Name], [Description], [Sizes], [Colors], [Images], [Price], [Quantity], [CreatedAt], [IsActive], [StoreId], [CategoryProductId], [RemainingQuantity]) VALUES (3, N'Helmet Purple Blaze', N'Sporty helmet with purple and pink airbrush design, built-in visor and communication device.', N'S,M,L,XL', N'#000000,#000000,#000000', N'/Images/9799d581-4977-4038-8e0d-069ef4860d8e.webp', CAST(200.00 AS Decimal(18, 2)), 10, CAST(N'2025-05-23T00:00:00.0000000' AS DateTime2), 1, 1, 1, 10)
GO
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ReviewMaintenances] ON 

INSERT [dbo].[ReviewMaintenances] ([ReviewMaintenanceId], [Comment], [MaintenanceNeedDeletedReview], [MaintenanceReason], [AdminNeedDeletedReview], [MaintenanceId], [Rating], [CustomerId], [CreatedAt], [IsActive]) VALUES (1, N'', NULL, NULL, NULL, 1, 0, 2, CAST(N'2025-06-08T14:38:09.6380299' AS DateTime2), 1)
INSERT [dbo].[ReviewMaintenances] ([ReviewMaintenanceId], [Comment], [MaintenanceNeedDeletedReview], [MaintenanceReason], [AdminNeedDeletedReview], [MaintenanceId], [Rating], [CustomerId], [CreatedAt], [IsActive]) VALUES (2, N'', NULL, NULL, NULL, 1, 0, 2, CAST(N'2025-06-08T14:38:13.7825311' AS DateTime2), 1)
INSERT [dbo].[ReviewMaintenances] ([ReviewMaintenanceId], [Comment], [MaintenanceNeedDeletedReview], [MaintenanceReason], [AdminNeedDeletedReview], [MaintenanceId], [Rating], [CustomerId], [CreatedAt], [IsActive]) VALUES (3, N'', NULL, NULL, NULL, 1, 5, 2, CAST(N'2025-06-08T14:38:40.7296275' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[ReviewMaintenances] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([ReviewId], [Comment], [Rating], [CustomerId], [ProductId], [MotorcycleId], [CreatedAt], [IsActive], [StoreId], [StoreNeedDeletedReview], [StoreReason], [AdminNeedDeletedReview]) VALUES (1, N'nice', 5, 1, NULL, 1, CAST(N'2025-05-23T21:05:55.2682074' AS DateTime2), 1, 1, NULL, NULL, NULL)
INSERT [dbo].[Reviews] ([ReviewId], [Comment], [Rating], [CustomerId], [ProductId], [MotorcycleId], [CreatedAt], [IsActive], [StoreId], [StoreNeedDeletedReview], [StoreReason], [AdminNeedDeletedReview]) VALUES (2, N'bad', 5, 1, NULL, 1, CAST(N'2025-05-25T11:39:20.3274870' AS DateTime2), 1, 1, NULL, NULL, NULL)
INSERT [dbo].[Reviews] ([ReviewId], [Comment], [Rating], [CustomerId], [ProductId], [MotorcycleId], [CreatedAt], [IsActive], [StoreId], [StoreNeedDeletedReview], [StoreReason], [AdminNeedDeletedReview]) VALUES (3, N'صصصصصصصصص', 5, 2, NULL, 2, CAST(N'2025-06-08T15:26:49.9807050' AS DateTime2), 1, 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Stores] ON 

SET IDENTITY_INSERT [dbo].[Stores] OFF
GO
SET IDENTITY_INSERT [dbo].[WishLists] ON 

INSERT [dbo].[WishLists] ([WishListId], [CustomerId], [CreatedAt], [IsActive], [MotorcycleId], [ProductId]) VALUES (1, 2, CAST(N'2025-05-23T09:45:39.4131587' AS DateTime2), NULL, 2, NULL)
INSERT [dbo].[WishLists] ([WishListId], [CustomerId], [CreatedAt], [IsActive], [MotorcycleId], [ProductId]) VALUES (2, 1, CAST(N'2025-05-23T16:56:16.7691274' AS DateTime2), NULL, 35, NULL)
INSERT [dbo].[WishLists] ([WishListId], [CustomerId], [CreatedAt], [IsActive], [MotorcycleId], [ProductId]) VALUES (3, 1, CAST(N'2025-05-23T17:01:02.4760329' AS DateTime2), NULL, 49, NULL)
SET IDENTITY_INSERT [dbo].[WishLists] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkHours] ON 

INSERT [dbo].[WorkHours] ([WorkHoursId], [StartFriday], [StartThursday], [StartSunday], [StartWednesday], [StartTuesday], [StartSaturday], [StartMonday], [EndFriday], [EndMonday], [EndSaturday], [EndSunday], [EndThursday], [EndTuesday], [EndWednesday], [MaintanenceId]) VALUES (1, NULL, N'08:00', N'08:00', N'08:00', N'08:00', N'09:00', N'08:00', NULL, N'20:00', N'18:00', N'20:00', N'20:00', N'20:00', N'20:00', 1)
INSERT [dbo].[WorkHours] ([WorkHoursId], [StartFriday], [StartThursday], [StartSunday], [StartWednesday], [StartTuesday], [StartSaturday], [StartMonday], [EndFriday], [EndMonday], [EndSaturday], [EndSunday], [EndThursday], [EndTuesday], [EndWednesday], [MaintanenceId]) VALUES (2, NULL, N'08:00', N'08:00', N'08:00', N'08:00', N'08:00', N'08:00', NULL, N'18:00', N'16:00', N'18:00', N'18:00', N'18:00', N'18:00', 2)
INSERT [dbo].[WorkHours] ([WorkHoursId], [StartFriday], [StartThursday], [StartSunday], [StartWednesday], [StartTuesday], [StartSaturday], [StartMonday], [EndFriday], [EndMonday], [EndSaturday], [EndSunday], [EndThursday], [EndTuesday], [EndWednesday], [MaintanenceId]) VALUES (3, NULL, N'07:00', N'07:00', N'07:00', N'07:00', N'09:00', N'07:00', NULL, N'21:00', N'18:00', N'21:00', N'21:00', N'21:00', N'21:00', 3)
SET IDENTITY_INSERT [dbo].[WorkHours] OFF
GO
/****** Object:  Index [IX_Bookings_CustomerId]    Script Date: 04/09/2025 10:37:06 ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_CustomerId] ON [dbo].[Bookings]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_MaintenanceId]    Script Date: 04/09/2025 10:37:06 ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_MaintenanceId] ON [dbo].[Bookings]
(
	[MaintenanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_NotificationBookingMaintenanceId]    Script Date: 04/09/2025 10:37:06 ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_NotificationBookingMaintenanceId] ON [dbo].[Bookings]
(
	[NotificationBookingMaintenanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CartItems_CartId]    Script Date: 04/09/2025 10:37:06 ******/
CREATE NONCLUSTERED INDEX [IX_CartItems_CartId] ON [dbo].[CartItems]
(
	[CartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CartItems_MotorcycleId]    Script Date: 04/09/2025 10:37:06 ******/
CREATE NONCLUSTERED INDEX [IX_CartItems_MotorcycleId] ON [dbo].[CartItems]
(
	[MotorcycleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CartItems_ProductId]    Script Date: 04/09/2025 10:37:06 ******/
CREATE NONCLUSTERED INDEX [IX_CartItems_ProductId] ON [dbo].[CartItems]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Carts_CustomerId]    Script Date: 04/09/2025 10:37:06 ******/
CREATE NONCLUSTERED INDEX [IX_Carts_CustomerId] ON [dbo].[Carts]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryMaintenanceMaintenance_MaintenanceId]    Script Date: 04/09/2025 10:37:06 ******/
CREATE NONCLUSTERED INDEX [IX_CategoryMaintenanceMaintenance_MaintenanceId] ON [dbo].[CategoryMaintenanceMaintenance]
(
	[MaintenanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Maintenances_WorkHoursId]    Script Date: 04/09/2025 10:37:06 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Maintenances_WorkHoursId] ON [dbo].[Maintenances]
(
	[WorkHoursId] ASC
)
WHERE ([WorkHoursId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Motorcycles_StoreId]    Script Date: 04/09/2025 10:37:06 ******/
CREATE NONCLUSTERED INDEX [IX_Motorcycles_StoreId] ON [dbo].[Motorcycles]
(
	[StoreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NotificationBookingMaintenances_MaintenanceId]    Script Date: 04/09/2025 10:37:06 ******/
CREATE NONCLUSTERED INDEX [IX_NotificationBookingMaintenances_MaintenanceId] ON [dbo].[NotificationBookingMaintenances]
(
	[MaintenanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItems_MotorcycleId]    Script Date: 04/09/2025 10:37:06 ******/
CREATE NONCLUSTERED INDEX [IX_OrderItems_MotorcycleId] ON [dbo].[OrderItems]
(
	[MotorcycleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItems_OrderId]    Script Date: 04/09/2025 10:37:06 ******/
CREATE NONCLUSTERED INDEX [IX_OrderItems_OrderId] ON [dbo].[OrderItems]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItems_ProductId]    Script Date: 04/09/2025 10:37:06 ******/
CREATE NONCLUSTERED INDEX [IX_OrderItems_ProductId] ON [dbo].[OrderItems]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItems_StoreId]    Script Date: 04/09/2025 10:37:06 ******/
CREATE NONCLUSTERED INDEX [IX_OrderItems_StoreId] ON [dbo].[OrderItems]
(
	[StoreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_CustomerId]    Script Date: 04/09/2025 10:37:06 ******/
CREATE NONCLUSTERED INDEX [IX_Orders_CustomerId] ON [dbo].[Orders]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_PaymentmethodId]    Script Date: 04/09/2025 10:37:06 ******/
CREATE NONCLUSTERED INDEX [IX_Orders_PaymentmethodId] ON [dbo].[Orders]
(
	[PaymentmethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_CategoryProductId]    Script Date: 04/09/2025 10:37:06 ******/
CREATE NONCLUSTERED INDEX [IX_Products_CategoryProductId] ON [dbo].[Products]
(
	[CategoryProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_StoreId]    Script Date: 04/09/2025 10:37:06 ******/
CREATE NONCLUSTERED INDEX [IX_Products_StoreId] ON [dbo].[Products]
(
	[StoreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReviewMaintenances_CustomerId]    Script Date: 04/09/2025 10:37:06 ******/
CREATE NONCLUSTERED INDEX [IX_ReviewMaintenances_CustomerId] ON [dbo].[ReviewMaintenances]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReviewMaintenances_MaintenanceId]    Script Date: 04/09/2025 10:37:06 ******/
CREATE NONCLUSTERED INDEX [IX_ReviewMaintenances_MaintenanceId] ON [dbo].[ReviewMaintenances]
(
	[MaintenanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reviews_CustomerId]    Script Date: 04/09/2025 10:37:06 ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_CustomerId] ON [dbo].[Reviews]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reviews_MotorcycleId]    Script Date: 04/09/2025 10:37:06 ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_MotorcycleId] ON [dbo].[Reviews]
(
	[MotorcycleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reviews_ProductId]    Script Date: 04/09/2025 10:37:06 ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_ProductId] ON [dbo].[Reviews]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reviews_StoreId]    Script Date: 04/09/2025 10:37:06 ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_StoreId] ON [dbo].[Reviews]
(
	[StoreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tickets_EventId]    Script Date: 04/09/2025 10:37:06 ******/
CREATE NONCLUSTERED INDEX [IX_Tickets_EventId] ON [dbo].[Tickets]
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tickets_UserId]    Script Date: 04/09/2025 10:37:06 ******/
CREATE NONCLUSTERED INDEX [IX_Tickets_UserId] ON [dbo].[Tickets]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WishLists_CustomerId]    Script Date: 04/09/2025 10:37:06 ******/
CREATE NONCLUSTERED INDEX [IX_WishLists_CustomerId] ON [dbo].[WishLists]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WishLists_MotorcycleId]    Script Date: 04/09/2025 10:37:06 ******/
CREATE NONCLUSTERED INDEX [IX_WishLists_MotorcycleId] ON [dbo].[WishLists]
(
	[MotorcycleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WishLists_ProductId]    Script Date: 04/09/2025 10:37:06 ******/
CREATE NONCLUSTERED INDEX [IX_WishLists_ProductId] ON [dbo].[WishLists]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Motorcycles] ADD  DEFAULT ((0.0)) FOR [Price]
GO
ALTER TABLE [dbo].[Motorcycles] ADD  DEFAULT ((0)) FOR [StoreId]
GO
ALTER TABLE [dbo].[Paymentmethod] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Customers_CustomerId]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Maintenances_MaintenanceId] FOREIGN KEY([MaintenanceId])
REFERENCES [dbo].[Maintenances] ([Id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Maintenances_MaintenanceId]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_NotificationBookingMaintenances_NotificationBookingMaintenanceId] FOREIGN KEY([NotificationBookingMaintenanceId])
REFERENCES [dbo].[NotificationBookingMaintenances] ([Id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_NotificationBookingMaintenances_NotificationBookingMaintenanceId]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Carts_CartId] FOREIGN KEY([CartId])
REFERENCES [dbo].[Carts] ([CartId])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Carts_CartId]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Motorcycles_MotorcycleId] FOREIGN KEY([MotorcycleId])
REFERENCES [dbo].[Motorcycles] ([MotorcycleId])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Motorcycles_MotorcycleId]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Products_ProductId]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_Customers_CustomerId]
GO
ALTER TABLE [dbo].[CategoryMaintenanceMaintenance]  WITH CHECK ADD  CONSTRAINT [FK_CategoryMaintenanceMaintenance_CategoryMaintenances_CategoriesCategoryMaintenanceId] FOREIGN KEY([CategoriesCategoryMaintenanceId])
REFERENCES [dbo].[CategoryMaintenances] ([CategoryMaintenanceId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategoryMaintenanceMaintenance] CHECK CONSTRAINT [FK_CategoryMaintenanceMaintenance_CategoryMaintenances_CategoriesCategoryMaintenanceId]
GO
ALTER TABLE [dbo].[CategoryMaintenanceMaintenance]  WITH CHECK ADD  CONSTRAINT [FK_CategoryMaintenanceMaintenance_Maintenances_MaintenanceId] FOREIGN KEY([MaintenanceId])
REFERENCES [dbo].[Maintenances] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategoryMaintenanceMaintenance] CHECK CONSTRAINT [FK_CategoryMaintenanceMaintenance_Maintenances_MaintenanceId]
GO
ALTER TABLE [dbo].[Maintenances]  WITH CHECK ADD  CONSTRAINT [FK_Maintenances_WorkHours_WorkHoursId] FOREIGN KEY([WorkHoursId])
REFERENCES [dbo].[WorkHours] ([WorkHoursId])
GO
ALTER TABLE [dbo].[Maintenances] CHECK CONSTRAINT [FK_Maintenances_WorkHours_WorkHoursId]
GO
ALTER TABLE [dbo].[Motorcycles]  WITH CHECK ADD  CONSTRAINT [FK_Motorcycles_Stores_StoreId] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([StoreId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Motorcycles] CHECK CONSTRAINT [FK_Motorcycles_Stores_StoreId]
GO
ALTER TABLE [dbo].[NotificationBookingMaintenances]  WITH CHECK ADD  CONSTRAINT [FK_NotificationBookingMaintenances_Maintenances_MaintenanceId] FOREIGN KEY([MaintenanceId])
REFERENCES [dbo].[Maintenances] ([Id])
GO
ALTER TABLE [dbo].[NotificationBookingMaintenances] CHECK CONSTRAINT [FK_NotificationBookingMaintenances_Maintenances_MaintenanceId]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Motorcycles_MotorcycleId] FOREIGN KEY([MotorcycleId])
REFERENCES [dbo].[Motorcycles] ([MotorcycleId])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Motorcycles_MotorcycleId]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Products_ProductId]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Stores_StoreId] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([StoreId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Stores_StoreId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers_CustomerId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Paymentmethod_PaymentmethodId] FOREIGN KEY([PaymentmethodId])
REFERENCES [dbo].[Paymentmethod] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Paymentmethod_PaymentmethodId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_CategoryProducts_CategoryProductId] FOREIGN KEY([CategoryProductId])
REFERENCES [dbo].[CategoryProducts] ([CategoryProductId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_CategoryProducts_CategoryProductId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Stores_StoreId] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([StoreId])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Stores_StoreId]
GO
ALTER TABLE [dbo].[ReviewMaintenances]  WITH CHECK ADD  CONSTRAINT [FK_ReviewMaintenances_Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[ReviewMaintenances] CHECK CONSTRAINT [FK_ReviewMaintenances_Customers_CustomerId]
GO
ALTER TABLE [dbo].[ReviewMaintenances]  WITH CHECK ADD  CONSTRAINT [FK_ReviewMaintenances_Maintenances_MaintenanceId] FOREIGN KEY([MaintenanceId])
REFERENCES [dbo].[Maintenances] ([Id])
GO
ALTER TABLE [dbo].[ReviewMaintenances] CHECK CONSTRAINT [FK_ReviewMaintenances_Maintenances_MaintenanceId]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Customers_CustomerId]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Motorcycles_MotorcycleId] FOREIGN KEY([MotorcycleId])
REFERENCES [dbo].[Motorcycles] ([MotorcycleId])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Motorcycles_MotorcycleId]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Products_ProductId]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Stores_StoreId] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([StoreId])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Stores_StoreId]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Customers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Customers_UserId]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Events_EventId] FOREIGN KEY([EventId])
REFERENCES [dbo].[Events] ([Id])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Events_EventId]
GO
ALTER TABLE [dbo].[WishLists]  WITH CHECK ADD  CONSTRAINT [FK_WishLists_Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[WishLists] CHECK CONSTRAINT [FK_WishLists_Customers_CustomerId]
GO
ALTER TABLE [dbo].[WishLists]  WITH CHECK ADD  CONSTRAINT [FK_WishLists_Motorcycles_MotorcycleId] FOREIGN KEY([MotorcycleId])
REFERENCES [dbo].[Motorcycles] ([MotorcycleId])
GO
ALTER TABLE [dbo].[WishLists] CHECK CONSTRAINT [FK_WishLists_Motorcycles_MotorcycleId]
GO
ALTER TABLE [dbo].[WishLists]  WITH CHECK ADD  CONSTRAINT [FK_WishLists_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[WishLists] CHECK CONSTRAINT [FK_WishLists_Products_ProductId]
GO
USE [master]
GO
